body{
  background-image: url('https://i.pinimg.com/originals/ec/bd/63/ecbd639262107124e41e1a702365df77.jpg');

}

h1{
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid;
  color: green;
}

#player1-button{

flex-direction:column;
justify-content:flex-start;
 font-size: 40px;
/*width: 200px;
height: 200px;*/
}


#playerTwo-button{

flex-direction:column;
justify-content:flex-end;

}

#playerTwo{
  display:flex;
  justify-content:flex-end;
  font-size: 40px;
  color:gold;
}

#player1{
  display:flex;
  justify-content:flex-start;
  font-size: 40px;
  color:purple;
}



#generate{
  /* BOX  */
  width: 100%;
  height: 700px;
  border: 1px solid ;

  /* ENHANCEMENT */
  /*background-image: url('https://i.pinimg.com/originals/ec/bd/63/ecbd639262107124e41e1a702365df77.jpg');*/
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#random{
  /*display: flex;*/
  text-align: center;
 /* align-items: center;
  justify-content: center;*/
  border: solid grey 3px;
  font-weight: 100;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;

}

#meter1 {
  height: 40px;
  position: relative;
  background: purple;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 10px;

}

#meter2 {
  height: 40px;
  position: relative;
  background: gold;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 10px;

}


.meter > span {
  display: block;
  height: 50%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);

  );
  position: relative;
  overflow: hidden;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
